doctype html
html(lang='en')
  head
    title pug pug
  body
    h1|Huavuhan là đồ phá đám, ta sẽ trồng nho bằng hạt
        marqueen|đồ đáng ghét
        h2|sao lúc nào cũng xxxxxxx
        body bgcolor=red|xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
